@font-face {
  font-family: 'Graphik LCG';
  src: url('fonts/GraphikLCG-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('fonts/GraphikLCG-Medium.ttf');
  font-weight: 500;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Graphik LCG', -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;;
}

#app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#main {
  margin-top: 64px;
}

* { outline: 0; }
a { text-decoration: none; }
p { color: #606770; }
.material-icons { cursor: pointer; }